@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: Calibri;
}

hr {
	background-color: white;
	border: 0;
	height: 3px;
	width: 90%;
}


/*Стили бокового меню*/

.sideNav {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

#logo {
	width: 100%;
	left: 38px;
	z-index: 1;
}

.sideNav a {
	color: #818181;
	display: block;
	font-size: 25px;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
}

.sideNav a:hover {
	color: #f1f1f1;
}

.contacts {
	position: absolute;
	bottom: 3%;
	text-align: center;
	left: 15%;
	right: 15%;
	color: #818181;
	font-size: 25px;
}


/*Стили основного контента*/

.mainContent {
	margin-left: 15%;
	padding: 0 10px;
}

.title {
	font-size: 36px;
	font-family: Calibri;
	font-style: normal;
	line-height: 44px;
	color: black;
	font-weight: bold;
}

.columnWork .title {
	font-weight: normal;
}

.subtitle {
	font-size: 36px;
	font-family: Calibri;
	font-style: normal;
	line-height: 44px;
	color: #3A558E;
}

.textWork p {
	font-size: 24px;
	font-family: Calibri;
	font-style: normal;
	line-height: 29px;
	color: #3A558E;
}

#mainpic {
	display: block;
	margin: 0 auto;
	width: 90%;
}


/*Стили кнопки*/

.buttonPos {
	margin: 20px 0 75px 0;
}

.btnModal {
	height: 82px;
	width: 367px;
	display: block;
	position: relative;
	border: 1px solid white;
	border-radius: 50px;
	margin: 0 auto;
	background: #3a558e;
	color: #ffffff;
	font-size: 36px;
	font-weight: bold;
}


/*Стили текста о нас*/

.about {
	text-align: center;
	width: 70%;
	margin: auto;
}

.about .title {
	font-size: 48px;
	font-weight: normal;
}

.about .title:first-child {
	font-weight: bold;
}


/*Стили перечисления преимуществ*/

.icons {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row,
.rowWork {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	margin: 75px 20px 75px 20px;
}

.column {
	display: flex;
	width: 20%;
	padding: 5px;
}

.card-content {
	padding: 0 20px;
	text-align: center;
}

.column .card p {
	margin: 20px 0 30px;
}


/*Стили перечисления работ*/

.columnWork {
	display: flex;
	padding: 5px;
	width: 28vw;
	height: 28vw;
	background: #D5E1F3;
}

.columnWork ul {
	list-style-type: none;
	padding: 0 5% 0 5%;
}

.rowWork .columnWork:first-child {
	margin: 0 8% 0 0;
}

.columnWork .card-content,
.columnWork .card {
	margin: 0 auto;
	padding: 0;
}


/*Стили таблицы цены*/

table {
	border-collapse: collapse;
	margin: auto;
	width: 65%;
	border: 3px solid #ffffff;
}

td,
th {
	text-align: center;
	width: 50%;
	border: 2px #c2c6cb solid;
}

.price {
	margin: auto;
	width: 20%;
}
.price a {
	text-decoration: none;
	color: #3a558e;
}
.price a:hover {
	color: #3a558e;
	text-decoration: underline;
}
