@charset "utf-8";
#logo {
    position: fixed;
    width: 15%;
    left: 38px;
    z-index: 1;
}
#mainpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#navpic {
    position: fixed;
    left: 0;
    z-index: 0;
    top: 0;

}
#menu{
    position: fixed;
    left: 0px;
    top: 100px
}
#menu nav{
    width: 960px;
    margin: 0 auto;
}
#menu nav:before {

    content: '';
    display: block;
    height: 50 px;
    width: 100%;
    background: #000;
    position: fixed;
    left: 0;
    z-index: -1;

}
#menu ul{
    margin: 0;

}
#menu ul li{
    list-style: none;
    margin-bottom: 30%;
}
#menu ul li a{

    text-decoration: none;
    color: #3A558E;
    padding: 0px;
    font-size:20px;
}
#menu ul li a:hover{
    color: #88909B
}
/*Стили перечисления преимуществ*/
.icons{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row, .rowWork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px;
}
.column {
  display: flex;
  width: 20%;
  padding: 5px;
}
.card-content {
  padding: 0 20px;
  text-align: center;
}
.column .card p {
  margin: 20px 0 30px;
}

/*Стили перечисления работ*/

.columnWork {
    display: flex;
    width: 30%;
    padding: 5px;
    border: 1px solid black;
}

.columnWork ul {
    list-style-type: none;
    padding: 0 5% 0 5%;
}

.rowWork .columnWork:first-child {
    margin: 0 4% 0 0;
}

.columnWork .card-content, .columnWork .card {
    padding: 0;
    margin: 0 auto;
}

/*Стили таблицы цены*/

table {
    border-collapse: collapse;
    border: 1px black solid;
    margin: auto;
    width: 35%;
}

table tr td {
    text-align: center;
}
